@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

:root {
    /* Solidas */
    --Azul: #27355E;
    --Roxo: #823679;
    --Rosa: #C9416F;
    --Salmao: #F35D5D;
    --Amarelo: #F9D949;
    --AzulClaro: #B2DEEC;
    --Branco: #E0DAED;
    --Preto: #1a1a1a;

    /**/
    --Footer: #770345;

    /**/
    --button_Hover:#e0daed97;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    color: var(--Branco); 
}
body {
    background: var(--Branco);
}